<StackLayout orientation="vertical">
    <TextField hint="Which town are you in?" (textChange)="trySearch($event)" class="input-large"></TextField>
    <ListView [items]="listItems" (itemTap)="onItemTap($event)" class="list-group" height="500" *ngIf="listItems.length > 0">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <GridLayout>
                <Label [text]="item.town" class="list-group-item"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>